# build files
*.pe
*.o

# out files
*.exe
*.img
*.iso
*.elf
*.bin
*.so

# archives
*.zip
*.WAD

# build dir
out/

# extra headers
include/addons/

# vscode dir
.vscode/
.vs/

# clangd indexing data
.cache/
compile_commands.json

# debug dirs/files
extracted/
debug/
*.hex
*.out
