name: publish

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "00 16 * * 3,0" # Wed, Sun 16:00 UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      
    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y make python3 gcc g++ nasm grub-common xorriso grub-pc-bin mtools

    - name: build img
      run: |
        VERSION=$(python3 tools/maketool.py kver)
        echo "PROFAN_HDD=disk-$VERSION.bin" >> $GITHUB_ENV
        echo "PROFAN_ISO=profanOS-$VERSION.iso" >> $GITHUB_ENV
        echo "PROFAN_VER=profanOS $VERSION" >> $GITHUB_ENV
        make gaddons elf bdisk iso
        cd out/disk && zip -r ../../initrd-build.zip * && cd ../..
        cp initrd.bin disk-$VERSION.bin
        cp profanOS.iso profanOS-$VERSION.iso
        cp kernel.elf profanOS-kernel.elf
        make miso
        mv initrd.bin profanOS-initrd.bin
        mv profanOS.iso profanOS-fullgrub.iso
        rm -Rf out/ && make elf disk && sh tools/limine.sh
        mv profanOS.iso profanOS-lite.iso

    - name: Release to GitHub
      uses: marvinpinto/action-automatic-releases@latest
      with:
        title: ${{ env.PROFAN_VER }}
        automatic_release_tag: latest
        repo_token: "${{ secrets.GIT_TOKEN }}"
        prerelease: false
        files: |
          ${{ env.PROFAN_ISO }}
          profanOS-fullgrub.iso
          profanOS-lite.iso
          profanOS-kernel.elf
          profanOS-initrd.bin
          initrd-build.zip

    - name: push iso to github
      uses: dmnemec/copy_file_to_another_repo_action@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.GIT_TOKEN }}
      with:
        source_file: ${{ env.PROFAN_ISO }}
        destination_repo: 'esolangs/profanOS-build'
        destination_folder: 'post55-iso'
        user_email: 'pf4_@gmail.com'
        user_name: 'esolangs'
        commit_message: 'new release'
  
    - name: push disk to github
      uses: dmnemec/copy_file_to_another_repo_action@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.GIT_TOKEN }}
      with:
        source_file: ${{ env.PROFAN_HDD }}
        destination_repo: 'esolangs/profanOS-build'
        destination_folder: 'disk-build'
        user_email: 'pf4_@gmail.com'
        user_name: 'esolangs'
        commit_message: 'new build'
